.footer {
  height: 10%;
  text-align: center;
  background-color: black;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  a {
    display: block;
    padding: 15px 0 0 0;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: rgb(236, 224, 224);
  }
}
